name: CI-CD

on: [push, pull_request]

jobs:

  test:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
        jdk-version: [8, 11, 16]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up JDK ${{matrix.jdk-version}} for Testing
        uses: actions/setup-java@v2
        with:
          java-version: '${{matrix.jdk-version}}'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify

  deploy:
    if: startsWith(github.ref, 'refs/tags')
    needs: test
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        include:
          - os: ubuntu-18.04
            jdk-version: 8
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up JDK ${{matrix.jdk-version}} for Publishing
        uses: actions/setup-java@v2
        with:
          java-version: '${{matrix.jdk-version}}'
          distribution: 'adopt'
          server-id: ossrh
          server-username: SONATYPE_USERNAME
          server-password: SONATYPE_PASSWORD
          gpg-private-key: ${{ secrets.GPG_KEYNAME }}
          gpg-passphrase: GPG_PASSPHRASE
      - name: Publish to Maven Central Repository
        run: mvn --batch-mode clean deploy -DskipTests=true -Prelease
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: target/jSHARK-*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
